{% extends "blog-layout.html" %}
{% block title %}Archive | Abelujo's blog{% endblock %}
{% block blog_body %}
  <h1>Abelujo's blog Archive</h1>
  <p>
    <a href="{{ '/blog'|url }}">&laquo; back to the blog</a>
  <p>
    There have been posts in the following years:
  <ul>
  {% for archive in this.year_archives %}
    {% if this.path %}
  <!-- Issue "no endswith": see https://github.com/lektor/lektor/issues/63 -->
  <!-- not fixed here -->
  <li><a href="{{ archive|url(alt='fr') }}">{{ archive.year }}</a>
    {% endif %}
  {% endfor %}
  </ul>
{% endblock %}
